<div class="article tf-form">
  <div class="inner">
    <div class="header"><h1>Download postal receipt requests</h1></div>
    <% form_tag(admin_download_postal_receipts_csv_path, :method => "post", :id => "download", :class => "usetheforces tt-citizen hint-after") do %>
      <ol class="tf-sections">
        <li class="section">
          <fieldset>
            <fieldset>
              <ol class="ftw-questions ftw-slot-in">
                <li class="xf-input">
                  <label for="date_from">
                    <span class="xf-label">Date From</span>
                  </label>
                  <input type="text" name="download_postal_receipts_search[date_from]" size="15" maxlength="20" id="date_from" value="<%= @download_postal_receipts_search.date_from %>" />
                  <small class="xf-hint">dd/mm/yyyy</small>
                </li>
                <li class="xf-input">
                  <label for="date_to">
                    <span class="xf-label">Date To</span>
                  </label>
                  <input type="text" name="download_postal_receipts_search[date_to]" size="15" maxlength="20" id="date_to" value="<%= @download_postal_receipts_search.date_to %>" />
                  <small class="xf-hint">dd/mm/yyyy</small>
                </li>
              </ol>
            </fieldset>
          </fieldset>
        </li>
        <li class="tf-footer">
          <ul class="tf-submit">
            <li class="wfd-primary-action">
              <strong>
                <input type="submit" id="submit_postal" value="Postal Receipts" name="submit" />
              </strong>
			</li>
			<li class="wfd-primary-action">
              <strong>
                <input type="submit" id="submit_10k" value="$10K+ Donations" name="submit"/>
              </strong>
            </li>
          </ul>
        </li>
      </ol>
    <% end %>
  </div>
</div>