<ol class="tf-sections">

  <li class="section">
      <fieldset id="contact-details">
          <legend>Amount</legend>
          <%= link_to "Go go go", URI.escape(GatewayUrlBuilder.new(1,1,10001).to_url) %>
          <fieldset>
              <ol class="ftw-questions ftw-slot-in">
                  <li class="xf-input">
                      <label for="contact-phone">
                          <span class="xf-label">Amount</span>
                      </label>
                      <input type="text" name="form.contactPhone" size="15" maxlength="20" value="" id="contact-phone"/>
                      <small class="xf-hint">Donations greater than $2 are tax deductible. Minimum $1 per donation.</small>
                  </li>
              </ol>
      </fieldset>
  </li>
</ol>