<div id="page-container">

  <div id="content-container">
    <div id="article-container">
      <div id="content">
        <div class="tf-status" id="outage-warnings-container"></div>


        <div class="article tf-form">
          <div class="inner">
            <div class="header"><h1>Premier's Disaster Relief Appeal</h1></div> 

            <ol class="tf-sections">

              <li class="section">

                <fieldset id="contact-details">
                  <legend>Thank you!</legend>
                  <fieldset style="height: 5em">
                    <ol class="ftw-questions ftw-slot-in">
                      <li class="xf-input">
                        <label for="contact-phone">
                          <span class="xf-label" style="width: 50em">Your donation has been successfully processed! Your receipt number is <%= @transaction_reference %>.</span>
                        </label>
                      </li>
                    </ol>
                  </fieldset>

              </li>
            </ol>
            <%= link_to "<< Back to Premier's Disaster Relief Appeal", root_path %><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
