<div id="access">
    <h2>Access keys and skip links</h2>
    <ul>
        <li><a href="http://www.qld.gov.au/help/accessibility/keyboard.html#access-keys">Access keys</a></li>

        <li><a href="#content">Skip to content</a></li>
        <li><a href="#footer">Skip to footer</a></li>
    </ul>
</div>
<div id="header">
    <div class="inner">
        <h2>Site header</h2>

        <div id="qg-logo"><a href="http://www.qld.gov.au/"><%= image_tag "qglogo.gif", :alt => "Queensland Government",
            :size=> "140x50" %></a></div>
        <ul id="tools">
            <li><a href="http://www.qld.gov.au/" accesskey="2">Home</a></li>
            <li><a href="http://www.qld.gov.au/services/" accesskey="3">Site map</a></li>
            <li><a href="/payment/contact" accesskey="4">Contact us</a></li>
            <li><a href="http://www.qld.gov.au/help/">Help</a></li>

            <li class="last-child">
                <form action="http://pan.search.qld.gov.au/search/search.cgi" id="search-form">
                    <div>
                        <label for="search-query">Search Queensland Government</label>
                        <input type="text" name="query" id="search-query" size="15" value="" accesskey="5"/>
                        <input type="submit" value="Search"/>
                        <input type="hidden" name="num_ranks" value="10"/>
                        <input type="hidden" name="tiers" value="off"/>

                        <input type="hidden" name="collection" value="qld-gov"/>
                        <input type="hidden" name="profile" value="qld"/>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<div id="page-container">

<div id="content-container">
<div id="article-container">
<div id="content">
<div class="tf-status" id="outage-warnings-container"></div>


<div class="article tf-form">
<div class="inner">
<div class="header"><h1>Checkout (1 of 3): Customer details</h1></div>

<div class="ftw-preamble">

    <ul>
        <li>Enter customer details to continue.</li>
        <li><abbr class="xf-required" title="required">*</abbr>
            indicates required fields.
        </li>
    </ul>
</div>

<form action="/payment/order/47b08abd-d19e-4938-b711-f8bc88432488/checkout" method="post" id="checkout"
      class="usetheforces tt-citizen hint-after">

<ol class="tf-sections">
<li class="section">
    <fieldset id="contact-details">
        <legend>Customer details</legend>
        <div class="ftw-instructions privacy">
            <p>Customer details assist with enquiries relating to this order.</p>
        </div>
        <ol class="ftw-questions">

            <li class="section">
                <fieldset>
                    <legend>Customer name</legend>
                    <ol class="ftw-questions ftw-slot-in">
                        <li class="xf-group">
                            <fieldset id="name">
                                <legend>
                                    <span class="xf-label">Name</span>


                                </legend>
                                <ol class="ftw-questions xf-appearance-compact">
                                    <li class="xf-input">
                                        <label for="name-title">
                                            <span class="xf-label">Title</span>
                                        </label>
                                        <input type="text" name="form.title" size="5" maxlength="12" value=""
                                               id="name-title"/></li>

                                    <li class="xf-input">

                                        <label for="name-given">
                                            <span class="xf-label">Given name</span>

                                        </label>
                                        <input type="text" name="form.givenName" size="20" maxlength="40" value=""
                                               id="name-given"/></li>

                                    <li class="xf-input">
                                        <label for="name-family">
                                            <span class="xf-label">Family name</span>


                                        </label>
                                        <input type="text" name="form.familyName" size="20" maxlength="40" value=""
                                               id="name-family"/></li>
                                </ol>
                            </fieldset>
                        </li>
                        <li class="xf-input">
                            <label for="organisation">
                                <span class="xf-label">Organisation name</span>

                            </label>
                            <input type="text" name="form.organisationName" size="40" maxlength="200" value=""
                                   id="organisation"/></li>

                    </ol>
                </fieldset>
                </body>

            <li class="section">
                <fieldset>
                    <legend>Contact by phone, fax or email</legend>

                    <ol class="ftw-questions ftw-slot-in">
                        <li class="xf-input">
                            <label for="contact-phone">
                                <span class="xf-label">Phone</span>

                            </label>
                            <input type="text" name="form.contactPhone" size="15" maxlength="20" value=""
                                   id="contact-phone"/></li>

                        <li class="xf-input">
                            <label for="contact-fax">

                                <span class="xf-label">Fax</span>

                            </label>
                            <input type="text" name="form.contactFax" size="15" maxlength="20" value=""
                                   id="contact-fax"/></li>


                        <li class="xf-select">
                            <ul class="xf-choices">
                                <li><label for="copy-of-receipt-requested"><input type="checkbox"
                                                                                  name="form.copyOfReceiptRequested"
                                                                                  id="copy-of-receipt-requested"
                                                                                  value="true"/>Send a copy of receipt
                                    and any items via email</label></li>
                            </ul>
                        </li>

                        <li class="xf-input">

                            <label for="contact-email">
                                <span class="xf-label">Email</span>

                            </label>
                            <input type="text" name="form.contactEmail" size="40" maxlength="100" value=""
                                   id="contact-email"/></li>

                        <li class="xf-input">
                            <label for="contact-email-confirm">
                                <span class="xf-label">Confirm email</span>


                                <span class="xf-hint">Please retype to confirm</span>
                            </label>
                            <input type="text" name="form.contactEmailConfirm" size="40" maxlength="100" value=""
                                   id="contact-email-confirm"/></li>
                    </ol>
                </fieldset>
            </li>

            <li class="section">
                <fieldset>

                    <legend>Contact by post</legend>
                    <ol class="ftw-questions ftw-slot-in">
                        <li class="xf-group">
                            <fieldset id="contact-address">
                                <legend>
                                    <span class="xf-label">Postal address</span>
                                </legend>
                                <ol class="ftw-questions">

                                    <li class="xf-input">
                                        <label for="contact-address-line1">
                                            <span class="xf-label">Address line 1</span>

                                        </label>
                                        <input type="text" name="form.contactAddress.line1" size="30" maxlength="50"
                                               value="" id="contact-address-line1"/></li>

                                    <li class="xf-input">
                                        <label for="contact-address-line2">
                                            <span class="xf-label">Address line 2 (optional)</span>

                                        </label>
                                        <input type="text" id="contact-address-line2" name="form.contactAddress.line2"
                                               value="" size="30" maxlength="50"/>
                                    </li>

                                    <li class="xf-input">
                                        <label for="contact-address-line3">
                                            <span class="xf-label">Address line 3 (optional)</span>
                                        </label>
                                        <input type="text" id="contact-address-line3" name="form.contactAddress.line3"
                                               value="" size="30" maxlength="50"/>
                                    </li>

                                    <li class="xf-input">
                                        <label for="contact-suburb">
                                            <span class="xf-label">Town, suburb or city</span>

                                        </label>
                                        <input type="text" id="contact-suburb" name="form.contactAddress.suburb"
                                               value="" maxlength="46"/>
                                    </li>

                                    <li class="xf-input">
                                        <label for="contact-state">
                                            <span class="xf-label">State or territory</span>
                                        </label>
                                        <input type="text" id="contact-state" name="form.contactAddress.state"
                                               value="QLD" size="10" maxlength="46"/>
                                    </li>

                                    <li class="xf-input">
                                        <label for="contact-postcode">
                                            <span class="xf-label">Postal or zip code</span>

                                        </label>
                                        <input type="text" id="contact-postcode" name="form.contactAddress.postcode"
                                               value="" size="5" maxlength="12"/>
                                    </li>

                                    <li class="xf-input">
                                        <label for="contact-country">
                                            <span class="xf-label">Country</span>
                                        </label>
                                        <input type="text" id="contact-country" name="form.contactAddress.country"
                                               value="Australia" size="30" maxlength="100"/>
                                    </li>

                                </ol>
                            </fieldset>
                        </li>

                    </ol>
                </fieldset>
            </li>
        </ol>
    </fieldset>
</li>


<li class="section">
    <h2>Order details</h2>

    <div class="ftw-instructions">
        <p>Please take a moment to make sure this order is correct.</p>
    </div>

    <table class="line-items">
        <col/>
        <col/>
        <col class="number" align="char" char="."/>
        <col class="number" align="char" char="."/>

        <col class="number" align="char" char="."/>
        <col class="number"/>
        <col class="number" align="char" char="."/>
        <thead>
        <tr>
            <th scope="col">Item description</th>
            <td></td>
            <th scope="col">Reference</th>

            <th scope="col" class="number">Unit price
                <small>(excl. GST)</small>
            </th>
            <th scope="col" class="number">GST</th>
            <th scope="col" class="number">Unit price
                <small>(incl. GST)</small>
            </th>
            <th scope="col" class="number">Qty</th>
            <th scope="col" class="number">Total</th>

        </tr>
        </thead>

        <tbody>

        <tr>
            <td scope="row">
                <strong>Donation to Premier's Disaster Relief Appeal December 2010</strong>
                <span class="description">All donations over $2.00 are tax deductible</span>

                <small class="agency">Department of the Premier and Cabinet</small>
            </td>
            <td></td>
            <td class="identifier"></td>
            <td class="number">$10.00</td>
            <td class="number">$0.00</td>
            <td class="number">$10.00</td>

            <td class="number">
                1
            </td>
            <td class="number">$10.00</td>
        </tr>
        </tbody>

        <tfoot>
        <tr class="total">
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td></td>
            <td>
            </td>
            <th scope="row">Total</th>
            <td class="number">$10.00</td>
        </tr>
        </tfoot>
    </table>

</li>
<li class="group">

    <table class="line-items-summary">
        <col/>
        <col class="number" align="char" char="."/>

        <tbody>
        <tr class="total">
            <th scope="row">Total amount paid<br/>
                <small>No GST has been charged</small>
            </th>

            <td class="number">$10.00</td>

        </tr>
        </tbody>
    </table>
</li>
<li class="tf-footer">
    <ul class="tf-submit">
        <li class="wfd-primary-action"><strong><input type="submit" id="pay" value="Continue"/></strong></li>
    </ul>

</li>
</ol>
</form>
</div>
</div>


</div>
</div>

</div>
</div>

<div id="footer">
    <div class="inner">
        <h2>Site footer</h2>
        <ul>
            <li><a href="/payment/legal/copyright">Copyright</a></li>
            <li><a href="/payment/legal/disclaimer">Disclaimer</a></li>
            <li><a href="/payment/legal/privacy">Privacy</a></li>

            <li><a href="/payment/legal/terms">Terms and conditions</a></li>
            <li><a href="http://www.qld.gov.au/help/accessibility/keyboard.html#access-keys" accesskey="0">Access
                keys</a></li>
            <li><a href="http://www.qld.gov.au/languages/">Other languages</a></li>
        </ul>
        <p> © The State of Queensland

            2008.
        </p>

        <p><a href="http://www.qld.gov.au/" accesskey="1">Queensland Government</a></p>

    </div>
</div>

<!-- SiteCatalyst code version: H.21.
Copyright 1996-2010 Adobe, Inc. All Rights Reserved
More info available at http://www.omniture.com -->
<script language="JavaScript" type="text/javascript" src="/payment/ui/s_code.js"></script>
<script language="JavaScript" type="text/javascript">

    <!--
    /* You may give each page an identifying name, server, and channel on
    the next lines. */
    s.pageName="papi:order:checkout"
    s.server=""
    s.channel=""
    s.pageType=""
    s.prop1=""
    s.prop2=""

    /* Conversion Variables */
    s.campaign=""
    s.state=""
    s.zip=""
    s.events=""
    s.products=""
    s.purchaseID=""
    s.eVar1=""
    s.eVar2=""
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code=s.t();if(s_code)document.write(s_code)//--></script>
<script language="JavaScript" type="text/javascript"><!--
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    //--></script>
<noscript><a href="http://www.omniture.com" title="Web Analytics"><img
        src="http://smartservicequeensland.122.2o7.net/b/ss/ssqsmartservdevelopment/1/H.21--NS/0?[AQB]&cdp=4&[AQE]"
        height="1" width="1" border="0" alt=""/></a></noscript><!--/DO NOT REMOVE/-->

<!-- End SiteCatalyst code version: H.21. -->

<script type="text/javascript" src="/payment/ui/jquery.forces.forms.1.2.js"></script>
<script type="text/javascript">
    <!-- //
       
       var nameGiven=$("#name-given");if(nameGiven.is(":-xf-required")){var nameFamily=$("#name-family");$("#name-given,#name-family").change(function(){nameGiven.forces_attr("required",nameFamily.is(":-xf-empty"));nameFamily.forces_attr("required",nameGiven.is(":-xf-empty"))}).triggerHandler("change")}$("#contact-email, #delivery-email").forces_attr("type","email").change(function(){var B=$(this);B.forces_setCustomValidity(B.val().match(/@[0-9.]+$/)?$.forces.MSG_TYPE_MISMATCH.email:null)}).triggerHandler("change");$.fn.forces_isConfirmationFor=function(D){D=$(D);var C=$(this);D.add(C).change(function(){C.forces_setCustomValidity(D.forces_val()==C.forces_val()?"":"doesn't match "+D.forces_label());if(C.is(":-tf-validated")){C.forces_validate()}});return this};$("#contact-email-confirm").forces_isConfirmationFor("#contact-email");$("#delivery-email-confirm").forces_isConfirmationFor("#delivery-email");var emailReceipt=$("#copy-of-receipt-requested");if(emailReceipt.is(":checked")||!$("#contact-email").is(":-xf-required")){emailReceipt.click(function(){$("#contact-email, #contact-email-confirm").forces_attr("required",emailReceipt.is(":checked"))}).triggerHandler("click")}var taxInvoiceRequired=$("#tax-invoice-required");taxInvoiceRequired.click(function(){$("#tax-business-details").forces_attr("relevant",taxInvoiceRequired.is(":checked"))}).triggerHandler("click");var abn=$("#abn");abn.change(function(){var H=abn.val().replace(/\s+/g,"");if(H.length==0){abn.forces_setCustomValidity("")}else{if(H.match(/^[0-9]{11}$/)){var G=H.split("");var J=G[0]*10;var I=1;for(var F=1;11>F;F++){J+=(G[F]*I);I+=2}if(J%89===10){abn.forces_setCustomValidity("")}else{abn.forces_setCustomValidity("invalid number")}}else{abn.forces_setCustomValidity("invalid number")}}});if(abn.is(":-xf-required")){var taxAddressRequiredFields=$("#tax-address :-xf-required");var abnAddressChangeHandler=function(){var B=abn.is(":-xf-empty");taxAddressRequiredFields.forces_attr("required",B).filter(":-xf-invalid").forces_validate();abn.forces_attr("required",!B||taxAddressRequiredFields.filter(":-xf-empty").length>0).filter(":-xf-invalid").forces_validate()};abnAddressChangeHandler();abn.change(abnAddressChangeHandler);taxAddressRequiredFields.change(abnAddressChangeHandler);$(document).bind($.forces.EVENT_XF_SUBMIT_ERROR,function(){var B=$('.tf-alert a[href$="#abn"]');if(B.length&&B.text().match(/^ABN: must be completed$/)){B.text("ABN or business address: must be completed");B.closest("ol").find('a[href*="#tax-"]').parent().remove()}})}var addressAsAbove=$("#delivery-address-same-as-contact-address");addressAsAbove.click(function(){$("#delivery-details-needed").forces_attr("relevant",!addressAsAbove.is(":checked"))}).triggerHandler("click");    
   // -->
</script>


<!--[if lt IE 9]>
<script type="text/javascript" src="/payment/ui/ie.js"></script><![endif]-->
