
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<title>Premier's Disaster Relief Appeal</title> 
		<!-- Build: build-9388 --> 
    <%= stylesheet_link_tag "minicart_1.0.css", :cache => true %>
	  <%= stylesheet_link_tag "payment-20100104", :cache => true %>    
    <%= stylesheet_link_tag "donations", :cache => true %>	  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
    
    <script type="text/javascript" src="https://www.smartservice.qld.gov.au/payment/minicart/contents_1.0.js"></script> 

    <script type="text/javascript" src="https://www.smartservice.qld.gov.au/payment/outage/outage_warnings.js"></script> 

	<!--[if lt IE 7]><script>document.createElement('abbr')</script><![endif]--> 
	</head> 
 
	<body id="qld-gov-au" class="donations"> 
<div id="access"> 
	<h2>Access keys and skip links</h2> 
	<ul> 
		<li><a href="http://www.qld.gov.au/help/accessibility/keyboard.html#access-keys">Access keys</a></li> 
		
		
		<li><a href="#content">Skip to content</a></li> 
		<li><a href="#footer">Skip to footer</a></li> 
	</ul> 
</div> 
<div id="header"><div class="inner"> 
	<h2>Site header</h2> 
<div id="qg-logo"><a href="http://www.qld.gov.au/"><%= image_tag "qglogo.gif", :size => "140x50", :alt => "Queensland Government" %></a></div> 
	<ul id="tools"> 
		<li><a href="http://www.thepremier.qld.gov.au/index.aspx" accesskey="2">Home</a></li> 
		<li><a href="http://www.thepremier.qld.gov.au/tools/sitemap.aspx" accesskey="3">Site map</a></li> 
		<li><a href="http://www.thepremier.qld.gov.au/tools/contact.aspx" accesskey="4">Contact us</a></li> 
		<li><a href="http://www.thepremier.qld.gov.au/tools/help.aspx">Help</a></li> 
		<li class="last-child"><form action="http://pan.search.qld.gov.au/search/search.cgi" id="search-form"> 
			<div> 
				<label for="search-query">Search Queensland Government</label> 
				<input type="text" name="query" id="search-query" size="15" value="" accesskey="5" /> 
				<input type="submit" value="Search" /> 
				<input type="hidden" name="num_ranks" value="10" /> 
				<input type="hidden" name="tiers" value="off" /> 
				<input type="hidden" name="collection" value="qld-gov" /> 
				<input type="hidden" name="profile" value="the-premier" /> 
			</div> 
		</form></li> 
	</ul> 
	<h2><a id="agency" href="http://www.thepremier.qld.gov.au/initiatives/disaster_recovery/index.aspx">Premier's Disaster Relief Appeal</a></h2> 
</div></div> 
 
<div id="page-container"><div id="about" class="aside"><div class="inner">                <h2>About donations</h2> 
                <p>Thank you for choosing to donate to the Premier's Disaster Relief Appeal.
                All donations received will go towards assisting victims of disasters.</p> 
                <p>All donations greater than $2 are tax deductible and a receipt will be issued at the time of making your contribution.</p> 
                <p><a href="http://www.thepremier.qld.gov.au/initiatives/disaster_recovery/index.aspx">More information about the Premier's Disaster Relief Appeal</a></p> 
</div></div> 
    <div id="content-container"> 
<div id="article-container"> 
	<div id="content"> 
                    	<div class="tf-status" id="outage-warnings-container"></div> 
    
    
	
    
    
    
<div class="article tf-form"><div class="inner"> 
        <div class="header"><h1>Premier's Disaster Relief Appeal</h1></div> 
        <div class="ftw-preamble"> 
            <p>The Queensland Government would like to thank you for your contribution.</p> 
            <ul> 
                <li>Amounts are in Australian dollars.</li> 
                <li><abbr title="required" class="xf-required">*</abbr> indicates required fields.</li> 
            </ul> 
        </div> 
 
        <form action="campaigns" method="post" class="usetheforces"> 
            <ol class="ftw-questions"> 
                    <li> 
                        <span class="xf-label">I would like to donate to:</span> 
                        Premier's Disaster Relief Appeal December 2010
                        <input type="hidden" name="form.campaignUuid" value="81965ef9-406c-4406-a373-11552fd6c43c" id="form_campaignUuid"/> <br/> 
                    </li> 
 
<li class="xf-input">
<label for="amount">
	<span class="xf-label">I would like to make a donation of</span>
	<abbr class="xf-required" title="required">*</abbr>
	<small class="xf-hint">Donations greater than $2 are tax deductible. Minimum $1 per donation.</small>
</label>
<input type="text" id="amount" name="form.amount" value="" size="5" maxlength="12"/>
</li>
 
 
                <li class="tf-footer"> 
                    <h2>Receipts and your privacy</h2> 
                    <p>Receipts are issued for all donations.
                    To assist in processing donations, you will be asked for your contact details.
                    These may be left blank if you wish to donate anonymously.</p> 
 
<input type="hidden" name="struts.token.name" value="struts.token" /> 
<input type="hidden" name="struts.token" value="8F0N061TP6CDONY5WKBUHHSG4UPRMQ97" />                    <script type="text/javascript"><!--
                        document.write('<input type="hidden" name="ssqCartId" value="' + SSQ.cart.id + '" />');
                    // --></script> 
                    <noscript><input type="hidden" name="ssqCartId" value="" /></noscript> 
                    <ol class="tf-submit"> 

<li class="wfd-primary-action"><strong><input type="submit" id="donate" value="Donate" /></strong></li>
                    </ol> 
                </li> 
            </ol> 
 
        </form> 
    </div></div>    
 
	</div> 
</div> 
	<div id="minicart" class="aside"><div class="inner"> 
		<div id="ssq-minicart" class="placeholder"> 
			<h2>Cart</h2> 
			<div id="ssq-minicart-view"> 
				<script type="text/javascript"><!--
					document.write('<div class="ssq-minicart-loading"><p>Loading <a href="https://www.smartservice.qld.gov.au/payment/cart/view">cart</a>…</p></div>');
				// --></script> 
				<noscript> 
					<p class="ssq-minicart-noscript">Edit cart or checkout to place your order.</p>
					<div class="ssq-minicart-submit">
						<input type="hidden" id="ssq-cart-contents" name="ssq-cart-contents" value="" />
						<img src="https://www.smartservice.qld.gov.au/payment/minicart/synchronise" id="ssq-synch-img" height="0" width="0" alt="" />
						<a href="https://www.smartservice.qld.gov.au/payment/cart/checkout" id="ssq-cart-checkout"><img id="ssq_minicart_checkout" src="https://www.smartservice.qld.gov.au/payment/minicart/btn-checkout.png" alt="Checkout" /></a>
						<a href="https://www.smartservice.qld.gov.au/payment/cart/view" id="ssq-cart-edit"><img id="ssq_minicart_cart" src="https://www.smartservice.qld.gov.au/payment/minicart/btn-cart.png" alt="Edit cart" /></a>
					</div>
				</noscript> 
			</div> 
			<div class="ssq-minicart-cards"> 
				<h3>Cards accepted</h3> 
				<ul> 
					<li><img src="https://www.smartservice.qld.gov.au/payment/minicart/visa.png" alt="Visa" /></li> 
					<li><img src="https://www.smartservice.qld.gov.au/payment/minicart/mastercard.png" alt="MasterCard" /></li> 
				</ul> 
			</div> 
		</div> 
	</div></div> 
    </div> 
</div> 
<div id="footer"> 
<h2>Site footer</h2> 
<ul> 
	<li><a href="http://www.thepremier.qld.gov.au/tools/copyright.aspx">Copyright</a></li> 
	<li><a href="http://www.thepremier.qld.gov.au/tools/disclaimer.aspx">Disclaimer</a></li> 
	<li><a href="http://www.thepremier.qld.gov.au/tools/privacy.aspx">Privacy</a></li> 
    
	<li><a href="http://www.qld.gov.au/help/accessibility/keyboard.html#access-keys" accesskey="0">Access keys</a></li> 
	<li><a href="http://www.qld.gov.au/languages/">Other languages</a></li> 
</ul> 
<p>© The State of Queensland (Department of the Premier and Cabinet) 2009.
</p> 
<p><a href="http://www.qld.gov.au/" accesskey="1">Queensland Government</a></p> 
</div> 
 
        <!-- SiteCatalyst code version: H.21.
        Copyright 1996-2010 Adobe, Inc. All Rights Reserved
        More info available at http://www.omniture.com --> 
        <script type="text/javascript" src="/services/ui/s_code.js"></script> 
        <script type="text/javascript"> 
 
        <!--
        /* You may give each page an identifying name, server, and channel on
        the next lines. */
        s.pageName="donations:appeal10"
        s.server=""
        s.channel=""
        s.pageType=""
        s.prop1=""
        s.prop2=""
 
        /* Conversion Variables */
        s.campaign=""
        s.state=""
        s.zip=""
        s.events=""
        s.products=""
        s.purchaseID=""
        s.eVar1=""
        s.eVar2=""
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code=s.t();if(s_code)document.write(s_code)//--></script> 
        <script type="text/javascript"><!--
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        //--></script><noscript><a href="http://www.omniture.com" title="Web Analytics"><img
        src="http://smartservicequeensland.122.2o7.net/b/ss/ssqsmartservdevelopment/1/H.21--NS/0?[AQB]&cdp=4&[AQE]"
        height="1" width="1" border="0" alt="" /></a></noscript><!--/DO NOT REMOVE/--> 
        <!-- End SiteCatalyst code version: H.21. --> 
    <script type="text/javascript" src="https://www.smartservice.qld.gov.au/payment/ui/minicart_1.0.js"></script> 
    <script type="text/javascript" src="https://www.smartservice.qld.gov.au/payment/ui/jquery.forces.forms.1.2.js"></script> 
	<script type="text/javascript"> 
	<!-- //
	
        var issue = $('#issue');
        var issueDisclosure = function() {
            $('#issue-type').forces_attr('relevant', $('#issue').forces_val() == "Yes");
        };
        issue.click(issueDisclosure);
        issueDisclosure();
    
	// -->
	</script> 
	
	</body> 
</html>