<div class="article">
  <div class="inner"> 
    <div class="header"><h1>Premier's Disaster Relief Appeal</h1></div> 
    <div class="ftw-preamble"> 
      <p>The Queensland Government has launched an appeal to help fellow Queenslanders affected 
	     by the January 2011 floods and Cyclone Yasi. Many communities were devastated. Some
	     families lost everything.</p>
	  <p>You can still help make a difference by donating to the Premier's Disaster Relief Appeal.</p>
	  <p>Online donations are not currently available, however internet banking and other options are.</p>
	  <p><a href="http://www.qld.gov.au/floods/donate.html">Find out about internet banking and other donation options</a></p>
      <p>If you've donated but didn't get a receipt, or have lost your receipt,
      <a href="https://www.smartservice.qld.gov.au/payment/contact/donationReceipt">you can request a receipt</a>
      by providing information to help verify your donation.</p>         
    </div> 
  </div>
</div>